body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 96%;
  margin-top: 100px;
}

h2 {
  font-size: 18px;
}

header {
  background-color: #fff;
  width: 100%;
  text-align: center;
  position: fixed;
}

.content-container {
  background-color: rgb(240, 240, 240);
  margin: 12px 0;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

/* Hide the default checkbox */
#reminders-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 30px;
  background-color: #dadada;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* The circle inside the switch */
#reminders-toggle:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

#reminders-toggle:checked {
  background-color: #149429;
}

#reminders-toggle:checked:before {
  transform: translateX(20px);
}

@media screen and (min-width: 700px) {
  main {
    width: 80%;
  }

  .content-container {
    margin: 18px 0;
    padding: 16px;
  }
}
